<button class="ml-2 btn btn-secondary" type="submit" (click)="load()">
    Load
</button>

<h3>Owned public repositories</h3>

<ul *ngIf="!loading" class="list-group my-4">
  <li class="list-group-item" *ngFor="let repo of repos">
      {{repo.name}}
    <div *ngIf="repo.repoPost">
      Already posted!
    </div>
    <span class="input-group-btn">
      <button *ngIf="!repo.repoPost" class="btn btn-primary" (click)="postRepo(repo)" type="submit">Submit</button>
    </span>
  </li>
</ul>

<h3>Issues</h3>
<ul *ngIf="!loading" class="list-group my-4">
  <li class="list-group-item" *ngFor="let issue of issues">
      <div>
          Repo '{{issue.repo.name}}': {{issue.title}}
          <div *ngIf="!issue.repo.repoPost">
              Repository not posted!
          </div>
          <div *ngIf="issue.issuePost">
              Already posted!
          </div>
          <div *ngIf="issue.state == 'closed' ">
              Issue is closed.
          </div>
          <span class="input-group-btn">
              <button *ngIf="issue.repo.repoPost &&  issue.state != 'closed' && !issue.issuePost" class="btn btn-primary" (click)="postIssue(issue)" type="submit">Submit</button>
          </span>
      </div>
  </li>
</ul>
