<link rel="stylesheet" href="https://at.alicdn.com/t/font_ykgtxz90gjve7b9.css">
<div class="container py-5" style="max-width: 600px;" ng-controller="Main as main">
  <div class="mb-4">
    <h1>Demo</h1>
    <p>This is a demo using <a href="https://github.com/steemit/sc2-sdk">SteemConnect 2 SDK</a>. You can login, logout, comment and upvote.</p>
    <p>Find the code of this demo on GitHub: <a href="https://github.com/steemit/example-steemconnect-angular">https://github.com/steemit/example-steemconnect-angular</a></p>
  </div>
  <hr />
  <div>
    <h3>Login & logout</h3>
    <b *ngIf="user"><img src="https://steemitimages.com/u/{{user}}/avatar" width="32" height="32"> {{user}}</b>
    <button *ngIf="user" class="ml-2 btn btn-secondary" type="submit" (click)="logout()">
      Logout
    </button>
    <a class="btn btn-primary" href="{{loginUrl}}" *ngIf="!user">Log In</a>
  </div>
  <hr />


  <hr />
  <h3>Comment & vote</h3>
  <div class="input-group input-group-lg">
    Last comments on the post: {{parentAuthor}}/{{parentPermlink}}
  </div>
  <button *ngIf="user" class="ml-2 btn btn-secondary" type="submit" (click)="loadComments()">
    Load
  </button>

  <ul class="list-group my-4">
    <li class="list-group-item" *ngFor="let comment of comments">
      @{{comment.author}}: {{comment.body}}
      <button *ngIf="user" class="ml-2 btn btn-secondary btn-sm" type="submit" (click)="vote(comment.author, comment.permlink, 973)">
        <i class="icon iconfont icon-praise"></i> {{comment.net_votes}}
      </button>
    </li>
  </ul>

  <form *ngIf="user" >
    <div class="input-group">
      <input name="commentInput" type="text" class="form-control" ng-disabled="loading" placeholder="Write a comment here" [(ngModel)]="message">
      <span class="input-group-btn">
        <button class="btn btn-primary" (click)="comment()" type="submit">Submit</button>
      </span>
    </div>
  </form>

  <hr />
  <h3>User metadata</h3>
  <p>SteemConnect allows you to store data related to each user (such as user preferences) that do not impact a user's core functionality.</p>
  <form *ngIf="user">
    <div class="input-group">
      <input name="metadataInput" type="text" class="form-control" placeholder="What is your user preference?" [(ngModel)]="userPreference">
      <span class="input-group-btn">
        <button class="btn btn-primary" (click)="updateUserMetadata({ userPreference: userPreference })" type="submit">Save</button>
      </span>
    </div>
    <pre class="mt-4">{{metadata}}</pre>
  </form>

</div>