<h3>Explore all issues</h3>

<button class="ml-2 btn btn-secondary" type="submit" (click)="loadIssues()">
    Load
</button>

<ul *ngIf="!loading" class="list-group my-4">
    <li  class="list-group-item" *ngFor="let issue of issues">
        {{issue.repo.name}}: {{issue.title}}

      <button class="ml-2 btn btn-secondary btn-sm" type="submit" (click)="vote(issue.issuePost.author, issue.issuePost.permlink, 973)">
          <i class="icon iconfont icon-praise"></i> {{issue.issuePost.votes}}
      </button>
    </li>
</ul>